html,
body {
  padding: 0;
  margin: 0;
}

.gridImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-width: 10px;
    border-radius: 30px;
}

.gridImageContainer {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.css-cuefkz-MuiContainer-root {
    padding-left: 0px !important;
    padding-right: 0px !important;
}